<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>

</head>
<body>
        <form action="/index" method="POST"  target="_blank" >
            <p>key words</p>
            <br/>
            <input type="text" name="keywords" required="required"/>
            <br/>
            <input type="radio" name="method" value="TF_IDF" required="required"/>TF_IDF
            &nbsp;&nbsp;
            <input type="radio" name="method" value="SBERT" required="required"/>SBERT
            <br/>
            <br/>
            <input type="submit"  value="Sumbit">
        </form>
        <br/>
        ><strong>TF_IDF(term frequency-inverse document frequency)</strong>
        <p>An approach to count the occurrence of a word and how important it is with respect to the documents provided.</p>
        ><strong>SBERT(Sentence-BERT)</strong>
        <p>SBERT  It contains various pre-trained model, trained on large set of documents, specific for certain tasks. This would help in case the search criteria contains words not part of the dataset for example a synonym</p>
</body>
</html>

